body {
  background: rgb(238, 238, 238);
}


.header__container {
  width: 90%;
  margin-bottom:10px;
  margin:0 2%;
}

.flex-item {
  display: flex;
}

.logo {
  color: #2F5CFF;
  margin-left:30px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}



/*ハンバーガーメニュー、ドロワーメニュー*/

.nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}

.nav ul {
  padding-top: 80px;
}

.nav ul li {
  list-style-type: none;
  margin-top: 50px;
}

.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
  background: #2F5CFF;
  border-radius: 5px;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  height: 2px;
  left: 6px;
  background-color: white;
  position: absolute;
  transition: 0.5s;
}

.menu__line--top {
  top: 8px;
  width: 32%;
}

.menu__line--middle {
  top: 15px;
  width: 64%;
}

.menu__line--bottom {
  bottom: 8px;
  width: 16%;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  width: 64%;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  width: 64%;
  transform: rotate(-45deg);
}

.in {
  transform: translateX(100%);
  background:white;
}

.drawer,
.drawer__logout{
  color:#2F5CFF;
  font-weight:bold;
  font-size:28px;
  line-height:0.5;
  background:white;
}

.drawer__logout {
  border: none;
  height: 25px;
}



/*店舗一覧*/


.search__var{
  height:50px;
  margin-top:15px;
}

.search_box {
  display: inline-block;
  position: relative;
}

select {
  -webkit-appearance: none;
  appearance: none; /* デフォルトの矢印を無効 */
  border:none;
  cursor: pointer;
}

select::-ms-expand {
  display: none; /* デフォルトの矢印を無効(IE用) */
}

.area::after,
.genre::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #E2E2E2;
  content: "";
  position: absolute;
  right: 500px;
  top: 48px;
  width: 0;
  pointer-events: none;
}

.area::after {
  right: 500px;
}

.genre::after {
  right: 390px;
}

.search_box input {
  padding: 3px 0 3px 2em;
  cursor: pointer;
}

.line{
  background:white;
  color: #E2E2E2;
  padding-top:10px;
  font-size:20px;
}

.search__area {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search__area,
.search__genre {
  width: 100px;
  height: 50px;
  padding: 0 10px;
}

.search__name{
  border:none;
  width:350px;
  border-top-right-radius:5px;
  border-bottom-right-radius: 5px;
  padding: 0 10px;
  margin-right:6%;
}

.shop__container {
  display: grid;
  column-count: 4;
  width: 92%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.shop__item {
  break-inside: avoid;
  text-align: center;
  margin-bottom: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 #B5B5B5;
}

.shop__title{
  line-height:1;
}

.shop__item img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.detail__btn {
  background: #2F5CFF;
  border-radius: 5px;
  padding: 0 8px;
}

.shop__btn {
  width: 85%;
  height: 40px;
  margin-left: 10%;
  padding-bottom:10px;
  justify-content: space-between;
}

button {
  background: white;
  cursor: pointer;
}

.heart {
  font-size: 30px;
  background: none;
  text-decoration: none;
  border: none;
}

.zero_container{
  text-align:center;
  color:black;
}

/*店舗詳細*/
img {
  width: 100%;
}

.detail {
  width: 100%;
  justify-content: center;
  margin: 5% 0;
}

.detail__container {
  width: 40%;
  margin: 0 3%;
}

.rounded-md{
  border-radius: 5px;
  font-size:24px;
  padding:3px 8px;
  box-shadow: 3px 3px 3px 0 rgb(156, 156, 156);
}

.detail__container-small {
  text-align: center;
  margin-bottom: 10px;
  width: 90%;
}

.reservation__container {
  margin: 0 3%;
  padding: 5% 0 0 45px;
  width: 400px;
  height: 525px;
  background: #2F5CFF;
  color: white;
  border-radius: 5px;
}

.reservation__table {
  color: white;
  margin-top:-5%;
  font-size:14px;
  width: 90%;
  background: rgb(84, 128, 247);
  text-align: left;
  border-radius: 5px;
  line-height:2;
}

.date{
  width:50%;
}

.time,
.number {
  width: 90%;
}

.date, 
.time,
.number {
  height:22px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#output_number{
  height:5px;
}

.reservation__btn {
  width:111.3%;
  height:50px;
  margin-top:190px;
  margin-left:-45px;
  text-align: center;
  color: white;
  cursor: pointer;
  background:rgb(0, 63, 245);
}

/*マイページ*/

.mypage__container{
  width:90%;
  justify-content: space-between;
  margin:0 auto;
}
.reservation__container-small {
  width: 35%;
  height:100%;
  background:rgb(238, 238, 238);
  margin-top:75px;
}

.reservation__ttl{
  color:black;
  margin-top:5px;
}

.clock{
  width:25px;
  height: 25px;
}

.reservation__count{
  justify-content: space-between;
}

.reservation__item {
  text-align: left;
  padding:20px;
  background: #2F5CFF;
  line-height:2;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.batsu{
  background:none;
  border:none;
}

.mypage__table {
  width:80%;
  font-size:14px;
  color: white;
}

.favorite__container {
  width: 50%;
  margin: 0 auto;
}

.favorite__container-small {
  display: grid;
  column-count: 2;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.favorite-ttl {
  width: 100%;
}

/*サンクスページ・予約完了ページ*/

.register__container {
  background: white;
  width: 30%;
  padding: 8% 10%;
  text-align: center;
  margin: 5% 25%;
  border-radius: 5px;
  line-height: 2;
  font-size: 20px;
  box-shadow: 3px 3px 3px 1px rgb(156, 156, 156);
}

.done__container{
  background:white;
  width:30%;
  padding:8% 10%;
  text-align: center;
  margin:5% 25%;
  border-radius:5px;
  line-height:2;
  font-size:20px;
  box-shadow: 3px 3px 3px 1px rgb(156, 156, 156);
}


/*ログインページ*/

.login__container{
  background: white;
  text-align: center;
  margin:0 auto;
  width: 500px;
  height:260px;
  border-radius: 5px;
  line-height: 2;
  font-size: 20px;
  box-shadow: 3px 3px 3px 1px rgb(156, 156, 156);
}


.login__title {
  background: #2F5CFF;
  text-align:left;
  padding: 3% 0;
  width: 100%;
  color:white;
}


.form-group{
  margin-bottom:10px;
  padding:5px;
}

.form-control{
  text-align: left;
  padding:5px;
  width:80%;
}

.login__btn,
.login__Btn{
  color: white;
  background: #2F5CFF;
  border-radius: 5px;
}

.login__btn{
  padding: 5px 10px;
}

.login__Btn{
  margin-top:10px;
  margin-left:60%;
  cursor: pointer;
}

.acountPage_link{
  color:black;
}

.new_user{
  width:100%;
}

/*会員登録ページ*/
.register__Page {
  width: 500px;
  margin: 5% 30%;
}
.register__container {
  text-align:center;
  background: white;
  text-align: center;
  width: 400px;
  margin:5% auto;
  height: 220px;
  border-radius: 5px;
  line-height: 2;
  font-size: 20px;
  box-shadow: 3px 3px 3px 1px rgb(156, 156, 156);
}


.register__title {
  background: #2F5CFF;
  text-align: left;
  padding: 3% 0;
  margin-top:-10%;
  margin-left:-13%;
  width: 505px;
  color: white;
}


.register__Btn {
  background: #2F5CFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding:5px 15px;
  margin-top: 10px;
  margin-left: 60%;
  cursor: pointer;
}

.acountPage_link {
  text-decoration: none;
  color: black;
  text-align: center;
}